<div class="p-information">
  <div class="p-information_inner">
    <div class="p-information_toggle" data-kkhk-toggle><div></div></div>
    <div class="p-information_contents">
      <div class="c-flexbox">
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/logo_white.svg" width="133" height="18" alt="Kokuhaku"></div>
        <div class="c-flexbox_col">
          <dl>
            <dt>Contact</dt>
            <dd><a href="mailto:hello@kokuhaku.co.jp">hello@kokuhaku.co.jp</a></dd>
            <dt>Tel</dt>
            <dd>03-0000-0000</dd>
            <dt>Office</dt>
            <dd>150-0001&nbsp;&nbsp;<span class="p-information_ffjp">東京都渋谷区神宮前</span>&nbsp;&nbsp;1-1-1&nbsp;606</dd>
            <dd>606&nbsp;1-1-1&nbsp;Jingumae,&nbsp;Shibuya-ku,<br>Tokyo150-0001,&nbsp;Japan,</dd>
            <dt>URL</dt>
            <dd><a href="https://kokuhaku.co.jp">https://kokuhaku.co.jp</a></dd>
          </dl>
          <ul>
            <li class="c-socialIconLink"><%- include('_iconlink', {type: 'instagram', color: 'white', width: 20}); %></li>
            <li class="c-socialIconLink"><%- include('_iconlink', {type: 'facebook', color: 'white', width: 10}); %></li>
            <li class="c-socialIconLink"><%- include('_iconlink', {type: 'twitter', color: 'white', width: 19}); %></li>
          </ul>
          <p>Kokuhaku Inc.&nbsp;/&nbsp;<span class="p-information_ffjp">コクハク株式会社</span></p>
        </div>
        <div class="c-flexbox_col">
          <dl>
            <dt>Design Studio&nbsp;&nbsp;<span>kokuhaku2</span></dt>
            <dd><img src="<%= config.path.img; %>/kokuhaku2.svg" width="133" height="15" alt="Kokuhaku"></dd>
            <dt>note</dt>
            <dd><a href="https://note.mu/kokuhaku_2" target="_blank">https://note.mu/kokuhaku_2</a></dd>
          </dl>
          <p><span>&copy;</span>&nbsp;Kokuhaku Inc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
