<div class="p-introduction">
  <div class="p-introduction_title">
    <p><img src="<%= config.path.img; %>/logo2.svg" width="333" height="88" alt="まいにちに、ドキドキをもっと。Kokuhaku"></p>
    <div><a href="#lede"><img src="<%= config.path.img; %>/chevron.svg" width="69" height="25"></a></div>
  </div>
  <div id="lede" class="p-introduction_lede c-flexbox c-flexbox-justifyCenter c-flexbox-alignCenter">
    <div class="c-flexbox_col">
      <p class="p-introduction_ledeItem" data-kkhk-lede1>
        <img src="<%= config.path.img; %>/text1.svg" width="312" height="39" alt="勇気を持って、秘めていた想いを打ちあけたり。思いがけなく、まっすぐな思いを伝えられたり。">
      </p>
      <p class="p-introduction_ledeItem" data-kkhk-lede2>
        <img src="<%= config.path.img; %>/text2.svg" width="377" height="19" alt="心が揺れ動いて、胸がいっぱいになる。">
      </p>
      <p class="p-introduction_ledeItem" data-kkhk-lede3>
        <img src="<%= config.path.img; %>/text3.svg" width="243" height="39" alt="そんな告白のドキドキにも似た瞬間を生み出していきます。">
      </p>
      <p class="p-introduction_ledeItem" data-kkhk-lede4>
        <img src="<%= config.path.img; %>/text4.svg" width="372" height="90" alt="暮らしや幸せのかたちが変わりつつあるいまだからこそ、心の奥にある、普遍的な想いに目を向ける。 そして、さまざまな人やモノ、コトをつなぎ合わせ、流行に左右されない感動をつくり、物語を紡いでいく。">
      </p>
      <p class="p-introduction_ledeItem" data-kkhk-lede5>
        <img src="<%= config.path.img; %>/text5.svg" width="306" height="65" alt="わたしたちは告白します。 そばにいる一人ひとりの心から、世の中までを、少しずつあたためていけるように。">
      </p>
      <p class="p-introduction_ledeItem" data-kkhk-lede6>
        <img src="<%= config.path.img; %>/text6.svg" width="301" height="18" alt="まいにちに、ドキドキをもっと。">
      </p>
    </div>
  </div>
  <div class="p-introduction_about">
    <p>Kokuhakuは、<br class="c-visible-sp">ドキドキするような<br class="c-visible-pc">カルチャー<br class="c-visible-sp">を創るチームです。</p>
    <div><img src="<%= config.path.img; %>/heart.svg" width="757" height="347" alt="Data Technology Design Marketing"></div>
  </div>
</div>
