<div class="p-introduction">
  <div class="p-introduction_title">
    <p><img src="<%= config.path.img; %>/logo2.svg" width="333" height="88" alt="まいにちに、ドキドキをもっと。Kokuhaku"></p>
    <div><a href="#lede"><img src="<%= config.path.img; %>/chevron.svg" width="69" height="25"></a></div>
  </div>
  <div id="lede" class="p-introduction_lede c-flexbox c-flexbox-justifyCenter c-flexbox-alignCenter">
    <div class="c-flexbox_col">
      <p class="p-introduction_ledeItem" data-kkhk-lede1><img src="<%= config.path.img; %>/text1.svg" width="546" height="200" alt="勇気を持って、秘めていた想いを打ちあけたり。思いがけなく、まっすぐな思いを伝えられたり。心が揺れ動いて、胸がいっぱいになる。そんな告白のドキドキにも似た瞬間を、わたしたちはアイデア・デザイン・テクノロジーで生み出していくチームです。"></p>
      <p class="p-introduction_ledeItem" data-kkhk-lede2><img src="<%= config.path.img; %>/text2.svg" width="546" height="236" alt="暮らしや幸せのかたちが変わりつつあるいまだからこそ、心の奥にある、普遍的な想いに目を向ける。そして、さまざまな人やモノ、コトをつなぎ合わせ、流行に左右されない感動をつくり、物語を紡いでいく。わたしたちは告白します。そばにいる一人ひとりの心から、世の中までを、少しずつあたためていけるように。"></p>
      <p class="p-introduction_ledeItem" data-kkhk-lede3><img src="<%= config.path.img; %>/kokuhaku_inc.svg" width="110" height="11" alt="Kokuhaku Inc."></p>
    </div>
  </div>
  <div class="p-introduction_about">
    <p>Kokuhaku Inc.は、<br class="c-visible-sp">まいにちがドキドキするような<br>Cultureを創るチームです。</p>
    <div><img src="<%= config.path.img; %>/heart.svg" width="757" height="347" alt="AI Technology Design Idea"></div>
  </div>
</div>
