<div class="p-member">
  <h1 class="c-heading1" data-kkhk-member-h1>Member</h1>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_1>Takanori<br>Kimoto<span class="c-socialIconLink"><%- include('_iconlink', {type: 'facebook', url: '#', width: 10}); %></span></h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <p>木本考紀&nbsp;&nbsp;奈良県出身、B型、天秤座。</p>
          <p>広告代理店勤務を経て、トレンダーズ株式会社に転職。マーケティング局長としてPRプランニングの他、動画やメディアの新規事業開発も担当し、2012年の東証マザーズ上場に貢献。その後、ビッグデータやアドテクノロジーを活用したマーケティングコンサルティングサービスを多数企業に提供。</p>
        </div>
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/kimoto_img.svg" width="310" height="134" alt="NY 伊達メガネ ほうじ茶ラテ B型 奈良 スイーツ 末っ子 映画"></div>
      </div>
    </div>
  </div>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_2>Noboru<br>Kishida<span class="c-socialIconLink"><%- include('_iconlink', {type: 'facebook', url: '#', width: 10}); %></span></h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <p>岸田昇&nbsp;&nbsp;大阪府出身、鎌倉在住、A型。</p>
          <p>アウトドアインストラクターやバックパッカーを通じてコミュニケーションを学ぶ。その後、株式会社リクルート、株式会社ブレインパッド、Treasure Data Inc.などで様々な職種(企画、マーケティングコンサル、プロダクトオーナー、ビジネスデベロップメント)やマネジメントを経験。</p>
        </div>
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/kishida_img.svg" width="313" height="130" alt="世界2周 大阪 鎌倉 BBQ Surf A型 フライドポテト バイク CAMP 末っ子"></div>
      </div>
    </div>
  </div>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_3>Other<br>Member</h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <ul>
            <li>Producer&nbsp;/&nbsp;Director&nbsp;/&nbsp;Planner</li>
            <li>Designer&nbsp;/&nbsp;Copywriter&nbsp;/&nbsp;Photographer</li>
            <li>Engineer&nbsp;/&nbsp;Data scientist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="p-member_recruit">
    <h2 class="c-heading2" data-kkhk-member-h2_4><img src="<%= config.path.img; %>/recruit.svg" width="99" height="19" alt="Recruit"></h2>
    <div>
      <p>わたし達の想いに共感できるメンバー<br>(社員/アルバイト/インターン)を募集しています。<br>詳細については、下記までご連絡ください。</p>
      <p><a class="c-arrowLink" href="mailto:recruit@kokuhaku.co.jp">recruit@kokuhaku.co.jp</a></p>
    </div>
  </div>
</div>
