<div class="p-member">
  <h1 class="c-heading1" data-kkhk-member-h1>Member</h1>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_1>Takanori<br>Kimoto<span class="c-socialIconLink"><%- include('_iconlink', {type: 'facebook', url: 'https://www.facebook.com/kimoto.takanori', width: 10}); %></span></h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <p>奈良県出身、B型、天秤座。</p>
          <p>大学卒業後、広告代理店勤務を経て、SNSマーケティング会社のトレンダーズに入社。東証マザーズ上場、マーケティング局長を経験。 その後データ×マーケティング会社のインティメート・マージャーで各種メーカー、サービス会社のブランディングからダイレクトマーケティングまでを担当。2018年Kokuhaku Inc.を設立</p>
        </div>
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/kimoto_img.svg" width="310" height="134" alt="NY 伊達メガネ ほうじ茶ラテ B型 奈良 スイーツ 末っ子 映画"></div>
      </div>
    </div>
  </div>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_2>Noboru<br>Kishida<span class="c-socialIconLink"><%- include('_iconlink', {type: 'facebook', url: 'https://www.facebook.com/noborukishidanoboru', width: 10}); %></span></h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <p>大阪府出身、鎌倉在住、A型。</p>
          <p>アウトドアインストラクターやバックパッカーを通じてコミュニケーションを学ぶ。その後、リクルート、ブレインパッド、Treasure Dataなどで様々な職種(プロダクトオーナー、企画、編集、コンサルティング、ビジネスデベロップメント)やマネジメントを経験。2018年Kokuhaku Inc.を設立</p>
        </div>
        <div class="c-flexbox_col"><img src="<%= config.path.img; %>/kishida_img.svg" width="313" height="130" alt="世界2周 大阪 鎌倉 BBQ Surf A型 フライドポテト バイク CAMP 末っ子"></div>
      </div>
    </div>
  </div>
  <div class="p-member_profile">
    <h2 class="c-heading2" data-kkhk-member-h2_3>Team</h2>
    <div>
      <div class="c-flexbox">
        <div class="c-flexbox_col">
          <ul>
            <li>Producer&nbsp;/&nbsp;Director&nbsp;/&nbsp;Planner</li>
            <li>Designer&nbsp;/&nbsp;Copywriter&nbsp;/&nbsp;Photographer</li>
            <li>Engineer&nbsp;/&nbsp;Data scientist</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="p-member_recruit">
    <h2 class="c-heading2" data-kkhk-member-h2_4><img src="<%= config.path.img; %>/recruit.svg" width="99" height="19" alt="Recruit"></h2>
    <div>
      <p>一人だけでは実現できないことを、チームで実現したい。<br>一人だけの小さなドキドキを、チームで大きなドキドキにしたい。<br>Kokuhakuは（社員/アルバイト/インターン）を募集しています。</p>
      <p><a class="c-arrowLink" href="mailto:recruit@kokuhaku.co.jp">recruit@kokuhaku.co.jp</a></p>
    </div>
  </div>
</div>
